###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
[Ll]ogs/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
*.log
.DS_Store
.vsidx


###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Donegeon/.vs/Donegeon/FileContentIndex/0289bc8e-579f-4dc9-a24e-08b7b7b75202.vsidx
Donegeon/.vs/Donegeon/FileContentIndex/6d92d1e5-b541-4a51-8620-7cd5c6d5d9bf.vsidx
Donegeon/.vs/Donegeon/FileContentIndex/04462fb0-ea3d-4829-8eab-8641b180bbe3.vsidx
Donegeon/.vs/Donegeon/FileContentIndex/04ec8850-823e-4179-ab89-e56513049f2e.vsidx
Donegeon/.vs/Donegeon/FileContentIndex/7e8bdbaa-0f1a-4aa8-8133-c4108d518123.vsidx
Donegeon/.vs/Donegeon/FileContentIndex/81e8bed7-29eb-46ae-9295-0e21cbd9d572.vsidx
Donegeon/.vs/Donegeon/FileContentIndex/fab96641-5b9b-441b-9e3e-61865ef67644.vsidx
Donegeon/.vs/Donegeon/FileContentIndex/ecd4e35c-8b46-4698-a0dc-b1612386acf4.vsidx
